GEMINI_API_KEY=
GENERATION_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=gemini-embedding-001

# ==== ChromaDB (local embedded) ====
# Thư mục để ChromaDB lưu vector (có thể là relative path)
CHROMA_DB_DIR=./chroma_db

# Tên collection để lưu vector cho bài học
CHROMA_COLLECTION=brainboost_lessons_chunks

GOOGLE_APPLICATION_CREDENTIALS="./google-tts-key.json"